@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

.rmd p {
  margin-bottom: 1em;
  line-height: 1.6em;
}

.rmd p a, .rmd li a {
  text-decoration: underline;
}

.rmd li {
  margin-bottom: 0.5em;
  margin-left: 1.25em;
  list-style: disc;
}